#banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(#13D0F2, #92FE9D);
}

#banner h1, p {
  font-size: 32px;
  color: rgb(255,255,255);
}

#ruby {
  background-image: url('https://raw.githubusercontent.com/sandrineay/placeholders/master/ruby-green.png');
  transition: background-image 0.5s ease;
  background-size: 60px;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

#ruby:hover {
  background-image: url('https://raw.githubusercontent.com/sandrineay/placeholders/master/ruby.png');
  background-size: 60px;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

#resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 200px;
}

#resume img {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
}

#resume p {
  color: rgb(30,30,30);
  font-size: 16px;
}

#resume-content {
  max-width: 800px;
  margin-left: 50px;
  text-align: justify;
}

.bold-text {
  font-weight: 800;
}
