#footer {
  text-align: center;
  background-color: #92FE9D;
  padding: 100px 0;
  font-size: 30px;
}

#footer a {
  color: rgb(255,255,255);
  padding: 0 20px;
}

#footer a:hover {
  opacity: 0.5;
}


