#resume {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 200px;
}

#resume img {
  border-radius: 50%;
  max-width: 170px;
  max-height: 170px;
}

#resume p {
  color: rgb(30,30,30);
  font-size: 16px;
}

#resume-content {
  max-width: 800px;
  margin-left: 50px;
  text-align: justify;
}
