.timeline-tabs {
  display: flex;
  justify-content: space-around;
}

.timeline-tab-content {
  height: 100vh;
  display: none;
}

.active {
  display: block;
}

.active-tab {
  font-weight: bolder;
}
