#timeline {
  position: relative;
}

.timeline-tabs {
  padding: 20px 200px;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.timeline-tab-item {
  cursor: pointer;
}

.timeline-tab-content {
  padding-top: 60px;
  height: 100vh;
  display: none;
}

.active {
  display: block;
}

.active-tab {
  font-weight: bolder;
}

.timeline-content {
  margin-left: 200px;
  margin-top: 30px;
  width: 300px;
}

.timeline-content p {
  color: rgb(30,30,30);
  font-size: 16px;
}

.timeline-content a {
  color: rgb(30,30,30);
  font-weight: bold;
}

.timeline-content-background {
  background-color: rgba(255,255,255,0.7);
  padding: 15px;
}
